.main
  %article
    %section
      %div.text-columns
        - @nodes.each do |node|
          %p{class: node.node_type.token}
            %a{href: "/interests/#{node.id}/#{node.name.parameterize('-')}"}= node.name
