%div
  %a{href: "/"} x

%div{class: @node.node_type.token}
%h1= @node.name

%h2 Related Nodes
%ul
  - @node.related_nodes.each do |related|
    %li
      %a{href: "/#{related.node_type.token}/#{related.id}/#{related.name.parameterize('-')}"}= related.name
