
.main
  %article
    %section

      %div
        %a{href: "/"}
          .close

      -# %div{class: @node.node_type.token}
      -# %h1= @node.name

      - if @node.respond_to?(:image)  && @node.image
        %div.img-container
          %img{src: @node.image[:url]}

      .text-columns
        - @node.related_nodes.each do |related|
          %p
            %a{href: "/#{related.node_type.token}/#{related.id}/#{related.name.parameterize('-')}"}= related.name
