a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline
}

article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
    display: block
}

ol,ul {
    list-style: none
}

blockquote,q {
    quotes: none
}

blockquote:after,blockquote:before,q:after,q:before {
    content: '';
    content: none
}

table {
    border-collapse: collapse;
    border-spacing: 0
}


@font-face {
    font-family: 'Euclid Flex';
    src: url(fonts/euc_ft.eot);
    src: url(fonts/euc_ft.eot?#iefix) format('embedded-opentype'),url(fonts/euc_ft.woff) format('woff');
    font-weight: 400
}

@font-face {
    font-family: 'Euclid Flex';
    src: url(fonts/euc_ft.eot);
    src: url(fonts/euc_ft.eot?#iefix) format('embedded-opentype'),url(fonts/euc_ft.woff) format('woff');
    font-weight: 700
}

@font-face {
    font-family: 'Fleischman BT Pro';
    src: url(fonts/flsws_ft.eot);
    src: url(fonts/flsws_ft.eot?#iefix) format('embedded-opentype'),url(fonts/flsws_ft.woff) format('woff');
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: 'Fleischman BT Pro';
    src: url(fonts/flsws-i_ft.eot);
    src: url(fonts/flsws-i_ft.eot?#iefix) format('embedded-opentype'),url(fonts/flsws-i_ft.woff) format('woff');
    font-weight: 400;
    font-style: italic
}

*,:after,:before {
    box-sizing: border-box
}

html {
    font-size: 12px;
    line-height: 1.2em
}

@media (min-width: 768px) {
    html {
        font-size:13px;
        line-height: 18px
    }
}

@media (min-width: 1681px) {
    html {
        font-size:17px;
        line-height: 24px
    }
}

body {
    padding: 50px 24px 24px;
    background: #000;
    color: white;
    font-family: 'Euclid Flex',sans-serif;
    font-size: 1rem;
    line-height: 1.2rem;
    -webkit-text-size-adjust: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

@media (min-width: 768px) {
    body {
        line-height:18px
    }
}

@media (min-width: 1024px) {
    body {
        padding-top:63px
    }
}

@media (min-width: 1681px) {
    body {
        padding-top:75px;
        line-height: 24px
    }
}


b,strong {
    font-family: 'Euclid Flex',sans-serif;
    font-weight: 700
}

em,i {
    font-style: italic
}

audio,img,video {
    max-width: 100%;
    height: auto
}

a {
    color: white;
    text-decoration: none;
    -webkit-transition: color .08s,border-color .08s,-webkit-transform .08s;
    transition: color .08s,border-color .08s,transform .08s
}

a.block {
    display: block
}

.columns:after,.columns:before {
    content: " ";
    display: table
}

.columns:after {
    clear: both
}

.columns h1 {
    margin-right: 0!important;
    margin-left: 0!important
}

.columns img {
    margin: 0 0 .5em!important
}

@media (min-width: 768px) {
    .columns .column-half {
        width:48.78049%;
        float: left;
        margin-right: 2.43902%
    }

    .semi-narrow .columns .column-half {
        width: 48.52941%;
        float: left;
        margin-right: 2.94118%
    }

    .narrow .columns .column-half {
        width: 48.14815%;
        float: left;
        margin-right: 3.7037%
    }

    .extra-narrow .columns .column-half {
        width: 47.5%;
        float: left;
        margin-right: 5%
    }

    .columns .column-half:nth-child(2n+2) {
        float: right;
        margin-right: 0
    }

    .columns .column-half:nth-child(2n+3) {
        clear: both
    }

    .columns .column-third {
        width: 31.70732%;
        float: left;
        margin-right: 2.43902%
    }

    .semi-narrow .columns .column-third {
        width: 31.36912%;
        float: left;
        margin-right: 2.94118%
    }

    .narrow .columns .column-third {
        width: 30.85556%;
        float: left;
        margin-right: 3.7037%
    }

    .extra-narrow .columns .column-third {
        width: 30%;
        float: left;
        margin-right: 5%
    }

    .columns .column-third:nth-child(3n+3) {
        float: right;
        margin-right: 0
    }

    .columns .column-third:nth-child(3n+4) {
        clear: both
    }

    .columns .column-quarter {
        width: 23.17073%;
        float: left;
        margin-right: 2.43902%
    }

    .semi-narrow .columns .column-quarter {
        width: 22.79412%;
        float: left;
        margin-right: 2.94118%
    }

    .narrow .columns .column-quarter {
        width: 22.22222%;
        float: left;
        margin-right: 3.7037%
    }

    .extra-narrow .columns .column-quarter {
        width: 21.25%;
        float: left;
        margin-right: 5%
    }

    .columns .column-quarter:nth-child(4n+4) {
        float: right;
        margin-right: 0
    }

    .columns .column-quarter:nth-child(4n+5) {
        clear: both
    }

    .columns .column-fifth {
        width: 18.04878%;
        float: left;
        margin-right: 2.43902%
    }

    .semi-narrow .columns .column-fifth {
        width: 17.64706%;
        float: left;
        margin-right: 2.94118%
    }

    .narrow .columns .column-fifth {
        width: 17.03704%;
        float: left;
        margin-right: 3.7037%
    }

    .extra-narrow .columns .column-fifth {
        width: 16%;
        float: left;
        margin-right: 5%
    }

    .columns .column-fifth:nth-child(5n+5) {
        float: right;
        margin-right: 0
    }

    .columns .column-fifth:nth-child(5n+6) {
        clear: both
    }

    .columns .column-sixth {
        width: 14.63415%;
        float: left;
        margin-right: 2.43902%
    }

    .semi-narrow .columns .column-sixth {
        width: 14.20882%;
        float: left;
        margin-right: 2.94118%
    }

    .narrow .columns .column-sixth {
        width: 13.57593%;
        float: left;
        margin-right: 3.7037%
    }

    .extra-narrow .columns .column-sixth {
        width: 12.5%;
        float: left;
        margin-right: 5%
    }

    .columns .column-sixth:nth-child(6n+6) {
        float: right;
        margin-right: 0
    }

    .columns .column-sixth:nth-child(6n+7) {
        clear: both
    }
}

@media (max-width: 767px) {
    .columns.mobile>* {
        width:48.78049%;
        float: left;
        margin-right: 2.43902%
    }

    .columns.mobile>:nth-child(2n+2) {
        float: right;
        margin-right: 0
    }

    .columns.mobile>:nth-child(2n+3) {
        clear: both
    }
}

.main {
    max-width: 2460px;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Fleischman BT Pro',serif
}

.main:after {
    content: " ";
    display: block;
    clear: both
}

.main iframe {
    width: 100%!important
}

.main .alternate,.main b,.main h1,.main h2,.main h3,.main h4,.main h5,.main h6,.main strong {
    font-family: 'Euclid Flex',sans-serif
}

.main h1,.main h2,.main h3,.main h4,.main h5,.main h6 {
    margin: 1em 0
}

.main h1 a,.main h2 a,.main h3 a,.main h4 a,.main h5 a,.main h6 a {
    background: 0 0!important
}

.main h1.alternate,.main h2.alternate,.main h3.alternate,.main h4.alternate,.main h5.alternate,.main h6.alternate {
    font-family: 'Fleischman BT Pro',serif
}

.main h1 {
    margin-bottom: 1em;
    margin-left: 8.53659%;
    margin-right: 8.53659%
}

@media (min-width: 768px) {
    .main h1 {
        margin-left:17.07317%;
        margin-right: 17.07317%
    }
}

@media (min-width: 1024px) {
    .main h1 {
        margin-left:25.60976%;
        margin-right: 25.60976%
    }
}

@media (min-width: 1681px) {
    .main h1 {
        margin-left:34.14634%;
        margin-right: 34.14634%
    }
}

.main .centered,.main h1 {
    text-align: center
}

@media (min-width: 768px) {
    .main .quiet,.main h2,.main h3,.main h4,.main h5,.main h6 {
        font-size:.75em;
        line-height: 1.2em
    }
}

.main ol,.main ol.spaced li,.main p,.main ul,.main ul.spaced li {
    margin-bottom: 1em
}

@media (max-width: 767px) {
    .main ol,.main p,.main ul {
        -webkit-hyphens:auto;
        -moz-hyphens: auto;
        -ms-hyphens: auto;
        hyphens: auto
    }
}

.main ol li,.main ul li {
    position: relative;
    margin-bottom: .5em;
    margin-left: 8.53659%
}

.main ol li:last-child,.main ul li:last-child {
    margin-bottom: 0
}

@media (min-width: 768px) {
    .main ol li,.main ul li {
        margin-left:12.80488%
    }
}

.main ul li:before {
    content: '';
    display: block;
    position: absolute;
    top: 8px;
    left: -27px;
    width: 5px;
    height: 5px;
    background: #000;
    border-radius: 10px
}

@media (min-width: 768px) {
    .main ul li:before {
        top:14px;
        left: -54px;
        width: 7px;
        height: 7px
    }
}



.main ul.unstyled li {
    margin-left: 0;
    margin-bottom: 0
}

.main ul.unstyled li:before {
    display: none
}

.main ol {
    counter-reset: li
}

.main ol li:before {
    content: counter(li);
    counter-increment: li;
    position: absolute;
    top: 0;
    left: -50px;
    width: 50px;
    font-family: 'Euclid Flex',sans-serif;
    text-align: center
}

@media (min-width: 768px) {
    .main ol li:before {
        left:-100px;
        width: 100px
    }
}



.main .no-spacing {
    margin-bottom: 0
}

.main .alternate a,.main b a,.main strong a {
    background-size: 1px 2px;
    background-position: 0 19px
}

@media (min-width: 768px) {
    .main .alternate a,.main b a,.main strong a {
        background-size:1px 3px;
        background-position: 0 30px
    }
}

@media (min-width: 1681px) {
    .main .alternate a,.main b a,.main strong a {
        background-position:0 39px
    }
}

.main .alternate a:hover,.main b a:hover,.main strong a:hover {
    background-image: -webkit-linear-gradient(top,#cdcdc6 50%,#cdcdc6 50%);
    background-image: linear-gradient(to bottom,#cdcdc6 50%,#cdcdc6 50%);
    background-repeat: repeat-x;
    background-size: 1px 2px;
    background-position: 0 19px
}

@media (min-width: 768px) {
    .main .alternate a:hover,.main b a:hover,.main strong a:hover {
        background-size:1px 3px;
        background-position: 0 30px
    }
}

@media (min-width: 1681px) {
    .main .alternate a:hover,.main b a:hover,.main strong a:hover {
        background-position:0 39px
    }
}

.main a {
    background-image: -webkit-linear-gradient(top,#000 50%,#000 50%);
    background-image: linear-gradient(to bottom,#000 50%,#000 50%);
    background-repeat: repeat-x;
    background-size: 1px 1px;
    background-position: 0 20px
}

@media (min-width: 768px) {
    .main a {
        background-position:0 29px
    }
}

@media (min-width: 1681px) {
    .main a {
        background-position:0 39px
    }
}

.main a.block,.main a.no-underline {
    background: 0 0!important
}

.main a.more-link {
    font-family: 'Euclid Flex',sans-serif;
    background: 0 0!important
}

.main a:hover {
    color: #cdcdc6;
    background-image: -webkit-linear-gradient(top,#cdcdc6 50%,#cdcdc6 50%);
    background-image: linear-gradient(to bottom,#cdcdc6 50%,#cdcdc6 50%);
    background-repeat: repeat-x;
    background-size: 1px 1px;
    background-position: 0 20px
}

@media (min-width: 768px) {
    .main a:hover {
        background-position:0 29px
    }
}

@media (min-width: 1681px) {
    .main a:hover {
        background-position:0 39px
    }
}

html.no-touch body.author .main a:hover,html.no-touch body.blog .main a:hover,html.no-touch body.date .main a:hover,html.no-touch body.single-post .main a:hover,html.no-touch body.tag .main a:hover {
    color: #fff;
    border-color: #fff;
    background-image: -webkit-linear-gradient(top,#fff 50%,#fff 50%);
    background-image: linear-gradient(to bottom,#fff 50%,#fff 50%);
    background-repeat: repeat-x;
    background-size: 1px 1px;
    background-position: 0 20px
}

@media (min-width: 768px) {
    html.no-touch body.author .main a:hover,html.no-touch body.blog .main a:hover,html.no-touch body.date .main a:hover,html.no-touch body.single-post .main a:hover,html.no-touch body.tag .main a:hover {
        background-position:0 29px
    }
}

@media (min-width: 1681px) {
    html.no-touch body.author .main a:hover,html.no-touch body.blog .main a:hover,html.no-touch body.date .main a:hover,html.no-touch body.single-post .main a:hover,html.no-touch body.tag .main a:hover {
        background-position:0 39px
    }
}


.main img.no-spacing {
    margin: 0 auto .25em
}

.main .divider {
    padding-top: 1.4em;
    margin-bottom: 1.6em;
    border-top: 3px solid #000;
    margin-left: 0;
    margin-right: 0
}


.main .inline-image-lightbox {
    outline: 0!important
}

.main article {
    border-top: 3px solid #000;
    padding-top: .5em;
    margin-bottom: 3em;
    font-size: 1.5em;
    line-height: 1.2em
}



@media (min-width: 768px) {
    .main article {
        font-size:2em;
        line-height: 1.2em
    }
}

.main article section {
    margin-bottom: 2em
}

@media (min-width: 768px) {
    .main article .semi-loud {
        font-size:1em;
        line-height: 1.2em
    }
}

@media (min-width: 768px) {
    .main article .loud {
        font-size:1.5em;
        line-height: 1.2em
    }
}

.main article img {
    margin: 1.5em auto
}


@media (min-width: 768px) {
    .main .text-columns {
        -webkit-columns:4 200px;
        -moz-columns: 4 200px;
        columns: 4 200px;
        -webkit-column-gap: 1em;
        -moz-column-gap: 1em;
        column-gap: 1em
    }
}


@-webkit-keyframes loading {
    0% {
        border-radius: 40px
    }

    50% {
        border-radius: 0
    }

    100% {
        border-radius: 40px
    }
}

@keyframes loading {
    0% {
        border-radius: 40px
    }

    50% {
        border-radius: 0
    }

    100% {
        border-radius: 40px
    }
}
