/*
 *= require_self
 *= require_tree .
*/

.close {
  background-image: url(close.png);
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
  width: 51px;
  height: 38px;
  position: absolute;
  top: 10px;
  left: 10px;
}

a.block {
    display: block
}

.main {
    max-width: 2460px;
    margin-left: auto;
    margin-right: auto;
}

.main:after {
    content: " ";
    display: block;
    clear: both
}


.main h1 {
    margin-bottom: 1em;
    margin-left: 8.53659%;
    margin-right: 8.53659%;
}

.main p, .main h1 {
    font-size: 26pt;
}

@media (min-width: 768px) {
    .main h1 {
        margin-left:17.07317%;
        margin-right: 17.07317%
    }
}

@media (min-width: 1024px) {
    .main h1 {
        margin-left:25.60976%;
        margin-right: 25.60976%
    }
}

@media (min-width: 1681px) {
    .main h1 {
        margin-left:34.14634%;
        margin-right: 34.14634%
    }
}

.main h1 {
    text-align: center
}

@media (min-width: 768px) {
    .main h2,.main h3,.main h4,.main h5,.main h6 {
        font-size:.75em;
        line-height: 1.2em
    }
}

.main p {
    margin-bottom: 1em
}

@media (max-width: 767px) {
    .main p {
        -webkit-hyphens:auto;
        -moz-hyphens: auto;
        -ms-hyphens: auto;
        hyphens: auto
    }
}

@media (min-width: 768px) {
    .main a {
        background-position:0 29px
    }
}

@media (min-width: 1681px) {
    .main a {
        background-position:0 39px
    }
}

.main a:hover {
    color: #cdcdc6;
}

@media (min-width: 768px) {
    .main a:hover {
        background-position:0 29px
    }
}

@media (min-width: 1681px) {
    .main a:hover {
        background-position:0 39px
    }
}


.main .inline-image-lightbox {
    outline: 0!important
}

.main article {
    border-top: 3px solid #000;
    padding-top: .5em;
    margin-bottom: 3em;
    font-size: 1.5em;
    line-height: 1.2em
}

@media (min-width: 768px) {
    .main article {
        font-size:2em;
        line-height: 1.2em
    }
}

.main article section {
    margin-bottom: 2em
}


.main article img {
    margin: 0 auto;
    max-height: 65%;
}


@media (min-width: 768px) {
    .main .text-columns {
        -webkit-columns:4 200px;
        -moz-columns: 4 200px;
        columns: 4 200px;
        -webkit-column-gap: 1em;
        -moz-column-gap: 1em;
        column-gap: 1em
    }
}

.img-container {
  text-align: center;
}

footer {
    position: fixed;
    z-index: 101;
    bottom: 1em;
    width: 100%;
    margin: auto;
}
