@font-face {
    font-family: 'dinameansregular';
    src: url('Dinameans-BetaInbetweenFull-webfont.woff') format('woff'),
         url('Dinameans-BetaInbetweenFull-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'dinameanshorizontal';
    src: url('Dinameans-BetaHorizonFull-webfont.woff') format('woff'),
         url('Dinameans-BetaHorizonFull-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'dinameansvertical';
    src: url('Dinameans-BetaVerticalFull-webfont.woff') format('woff'),
         url('Dinameans-BetaVerticalFull-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'dinameansvertical',sans-serif;
}

.main {
    font-family: 'dinameansvertical',serif
}

b,strong {
    font-family: 'dinameansvertical',sans-serif;
    font-weight: 700
}

.interests {
    font-family: 'dinameansvertical', sans-serif;
}

.projects {
    font-family: 'dinameansregular', sans-serif;
}
